@forward './style/material';
@forward './style/tailwind';
@forward './style/custom';
@use '@drafto/material' as dft;

::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}