<div class="flex flex-col mb-4">
  <div class="flex flex-col mb-4">
    <div class="flex content-between items-center">
      <p class="font-medium flex-grow" [textContent]="labelText()"></p>
    </div>
    <p
      class="help text-sm mt-1"
      style="color: var(--mat-sys-on-surface-variant)"
      [textContent]="helpText()"
    ></p>
  </div>
  <div class="flex">
    <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-40">
      <input
        matInput
        [matDatepicker]="datePicker"
        placeholder="Choose a date"
        readonly
        (click)="datePicker.open()"
      />
      <mat-datepicker-toggle matIconSuffix [for]="datePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="ms-3 w-32"
    >
      <input
        matInput
        [matTimepicker]="timePicker"
        placeholder="-:- -"
        readonly
        (click)="timePicker.open()"
      />
      <mat-timepicker #timePicker />
    </mat-form-field>
  </div>
</div>
