<div class="flex relative gap-7 px-6 pt-3 overflow-hidden overflow-y-auto h-full">
  <!-- <div class="flex gap-7 px-6 pt-3 overflow-x-hidden overflow-y-auto h-full"> -->
    <div class="flex flex-col grow w-4/6">
      <dftwa-publish-at></dftwa-publish-at>
      <dftwa-expiry-at></dftwa-expiry-at>
      <dftwa-political-toggle></dftwa-political-toggle>
      <dftwa-greeting-toggle></dftwa-greeting-toggle>
    </div>
    <!-- left side -->

    <div class="flex flex-col sticky top-0 2/6">
      <dftwa-template-preview></dftwa-template-preview>
    </div>
    <!-- right side -->
  <!-- </div> -->
</div>
