<mat-card appearance="outlined">
  <mat-card-header class="justify-center flex-col !p-0">
    <div class="progress">
      @if (!isBusy()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </div>

    <div class="flex justify-center flex-col mt-4">
      <div class="flex justify-center">
        <img class="h-[80px]" src="/img/logo-transparent.png" alt="Logo"/>
      </div>
      <h2 class="self-center my-2 font-semibold text-xl">Sign in</h2>
      <p class="text-center text-sm">Access your account securely.</p>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="passowrd-login">
      <form [formGroup]="form" class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>Email or phone</mat-label>
          <input matInput
            [tabIndex]="1"
            autocomplete="username"
            formControlName="username">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <!-- username -->

        <div class="flex flex-col">
          <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Password</mat-label>
            <input matInput
              [tabIndex]="2"
              [type]="isPasswordVisible() ? 'text' : 'password'"
              autocomplete="current-password"
              formControlName="password">
            <button mat-icon-button
              matSuffix
              type="button"
              [tabIndex]="-1"
              (click)="isPasswordVisible.set(!isPasswordVisible())"
              [disabled]="isBusy()">
              <mat-icon>{{ isPasswordVisible() ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </mat-form-field>
          <!-- password -->

          <a class="self-end"
            mat-button
            color="primary"
            [tabIndex]="-1"
            [style.marginRight]="'-8px'"
            [style.marginTop]="'-10px'"
            [routerLink]="['/accounts/forgot']"
            [queryParams]="nextQueryParams()">
            Forgot Password?
          </a>
          <!-- forgot button -->
        </div>
      </form>
    </div>
  </mat-card-content>

  <mat-card-footer>
    <div class="flex justify-between">
      <div class="flex flex-col" [style.marginLeft]="'-8px'">
        <a mat-button
          color="mt-2"
          class="flex-fill"
          [tabIndex]="-1"
          [routerLink]="['/accounts/signin/phone']"
          [queryParams]="nextQueryParams()"
          [disabled]="false">
          Try another way
        </a>
      </div>

      <button type="submit"
        mat-flat-button
        class="px-4 self-center"
        [tabIndex]="3">
        Login
      </button>
    </div>
  </mat-card-footer>
</mat-card>
