.carousal-container {
  > .btn-next,
  > .btn-prev {
    z-index: 5;

    button {
      background: var(--mat-sys-secondary-container);
      box-shadow: var(--mat-sys-level2);
    }
  }

  > .carousal {
    scrollbar-width: none;

    > .item {
      border-width: 2px;
      border-style: solid;
      border-color: transparent !important;
      transition: all 0.3s ease;
      transform-origin: center;

      &:not(.active):hover {
        opacity: 0.7;
        border-color: var(--mat-sys-on-secondary-container) !important;
      }

      &.active {
        transform: scale(1.05);
        border-color: var(--mat-sys-tertiary) !important;
        border-bottom-width: 4px;
      }
    }
  }
}
