@use '@angular/material' as mat;

.slide {
    color: var(--mat-sys-primary);

    @include mat.slide-toggle-overrides((
        unselected-handle-size: '24px',
        unselected-handle-horizontal-margin: '0 5px',
    ));
}