<div class="flex flex-col mb-4">
  <div class="flex flex-col mb-4">
    <div class="flex content-between items-center">
      <p class="font-medium flex-grow">Political</p>
      <p class="slide">
        No
        <mat-slide-toggle [(ngModel)]="checked" hideIcon>Yes</mat-slide-toggle>
      </p>
    </div>
    <p
      class="help text-sm mt-1"
      style="color: var(--mat-sys-on-surface-variant)"
    >
      Enable this option for political posters to assign a party, set a relavant
      template, and include iconic leaders or other political elements. if
      disabled, these options won't be available.
    </p>
  </div>
</div>
@if (checked) {
<dftwa-parties></dftwa-parties>
<dftwa-political-template></dftwa-political-template>
<dftwa-template-catogory></dftwa-template-catogory>
<dftwa-iconic-leaders></dftwa-iconic-leaders>
}
